<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <script type="text/javascript">
      $(document).ready(() => {
        $("#form").submit((event) => {
          event.preventDefault();
          $("#btnSave").html("Please Wait...");
          $.ajax({
            type: 'POST',
            url: '/department',
            data: $('#form').serialize(),
            dataType: "json",
            success: (response) => {
              console.log("Success");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#398C09", text: "Saved Successfully" });
              $('#form')[0].reset();
            },
            error: (error) => {
              myJSON = JSON.stringify(error);
              console.log("Error");
              Snackbar.show({ pos: "top-center", showAction: false, backgroundColor: "#ED4F32", text: JSON.parse($.parseJSON(myJSON).responseText).errorMessage });
            }
          })
          $("#btnSave").html("Save");
        });
        $("#btncancel").click(function() {
          $('#form')[0].reset();
        });
        $("#btnAdd").click(function() {
          window.location.href = "/department";
        });
      });
    </script>
</head>

<body>
  <%- include('../partials/header'); %>
    <section>
      <div class="container-fluid">
        <div class="row">
          <%- include('../partials/sidebar'); %>
            <main method="post" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h5 class="h5">Departments</h5>
              </div>
              <form class="row g-1" id="form" method="POST">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button id="btnAdd" class="btn btn-primary me-md-2" type="button">Add</button>
                  <button id="btnDelete" class="btn btn-danger" type="button">Delete</button>
                </div>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th><input class="form-check-input" type="checkbox" value="" id="chkDeptAll"></th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Short Code</th>
                        <th>Sequence No</th>
                        <th>Active</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% var count = 0; %>
                      <% data.forEach((dept)=>{  %>
                        <tr data-index="<%= count %>">
                          <td><input class="form-check-input" type="checkbox" value="" id="chkDept<%= count %>"></td>
                          <td><%= dept.name %></td>
                          <td><%= dept.code %></td>
                          <td><%= dept.short_code %></td>
                          <td><%= dept.sequence_no %></td>
                          <td><%= dept.active %></td>
                        </tr>
                      <% count +=1; %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </form>
            </main>
        </div>
      </div>
    </section>
    <%- include('../partials/footer'); %>
</body>

</html>